.empty, .dummy, .filled, .selected {
  width: var(--cell-side);
  height: var(--cell-side);
}

.empty:after {
  content: ' ';
  display: block;
  width: var(--empty-side);
  height: var(--empty-side);
  border-radius: 50%;
  background-color: #3b4252;
  position: relative;
  left: calc(var(--cell-side) / 2);
  top: calc(var(--cell-side) / 2);
}

.filled:after {
  content: ' ';
  display: block;
  width: calc(var(--cell-side) * 0.8);
  height: calc(var(--cell-side) * 0.8);
  border-radius: 50%;
  background-color: #3b4252;
  position: relative;
  left: calc(var(--cell-side) / 4);
  top: calc(var(--cell-side) / 4);
}

.selected:after {
  content: ' ';
  display: block;
  width: calc(var(--cell-side) * 0.8);
  height: calc(var(--cell-side) * 0.8);
  border-radius: 50%;
  background-color: #5e81ac;
  position: relative;
  left: calc(var(--cell-side) / 4);
  top: calc(var(--cell-side) / 4);
}
