.cell {
  width: 100px;
  height: 100px;
}

.white {
  background-color: #eceff4;
}

.black {
  background-color: #3b4252;
}

.white.current {
  background: red;
}

.black.current {
  background: red;
}
